/* 自用額外設定 */

/* 換滑鼠游標 */
* {
  cursor: url("https://chiaki.uk/Zero-Memo/img/arrow.gif"), auto;
}

/* 換噗浪獸 */

#dynamic_logo img {
  display: none;
}
/*圖片*/
#dynamic_logo:before {
  content: "　";
  background-repeat: no-repeat;
  background-size: 100%;
  height: 300px;
  width: 300px;
  background-image: url("");
  bottom: 80px;
  right: 40px;
  position: fixed;
}


/* 自定性別文字 */
#m_or_f {
  display: none;
}
#span_years:after {
  content: "一隻公狼";
}

/* 下方時間列顏色改成黑底 */
.bottom_start {
  background: black !important;
  color: white !important;
}

/* 通知器往下調整 */
.timeline_control {
  margin-top: -13px;
}

/* top_bar 背景移除 */
' {}:not(*) /* { */, /*
}*/
.bar-color {
    background: none;
}
' {}

/* 以上傳圖片覆蓋掉噗浪原本的背景圖 */
._lch_ {
  background-image: url(https://i.imgur.com/j9MQTly.jpg) !important;
  background-position: center !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  backdrop-filter: none !important;
}
/* 若想保留噗浪原本的背景圖請刪除上面這段 */

/* 白色模糊背景改為固定圖片 */
.cboxAnchor:not(.response) .plurk_cnt,
#form_holder,
._lch_~.pop-window .pop-window-content,
._lch_~.pop-window .pop-window-view iframe  {
  background-image: url(https://i.imgur.com/Cm5toBs.jpg) !important;
  background-position: center !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  backdrop-filter: none !important;
}
